{
    "tabWidth": 4,
    "useTabs": true,
    "singleQuote": true,
    "trailingComma": "es5",
    "jsxSingleQuote": true,
    "bracketSpacing": true,
    "jsxBracketSameLine": false,
    "semi": true,
    "printWidth": 80
}
